.game-grid {
  display: flex;
  flex-direction: column;
}
.game-grid-row {
  display: flex;
  flex-direction: row;
}
.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.new-tab {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.play-button {
  background-color: #2c5;
  padding: 1rem;
  width: 100%;
  margin: 10px 0 0 0;
  border: none;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: shade-color(#2c5, 10%);
  }
}
.game-title {
  margin: 10px;
  font-size: larger;
  font-weight: bold;
}
.settings-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  background: none;
  border: none;
  border-radius: 50%;
  @include themed() {
    color: color($text);
  }
  padding: 0.5em;

  &:hover {
    //rounded background
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
