.page {
  &.hidden-page {
    display: none;
  }
  height: 100%;
}
.pages {
  overflow-y: hidden;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.centered-page {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
