.game-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  @include themed() {
    background-color: t($bg-teriary);
  }

  .tabs {
    display: flex;
    @include themed() {
      border-bottom: 2px solid t($accent-color);
      background-color: t($bg);
    }
    &:empty {
      border: none;
    }
    .tab {
      @include themed() {
        color: t($muted-color);
        background-color: t($tab-color);
      }
      transition: none;
      padding: 0.5em;
      cursor: pointer;
      button {
        opacity: 0;
        background-color: inherit;
        border: none;
        color: inherit;
        cursor: pointer;
        border-radius: 20%;
        padding: 5px;
        &:hover {
          @include themed() {
            background-color: t($text-hover);
          }
        }
      }
      &:hover button,
      &.selected button {
        opacity: 1;
      }
      &.selected {
        @include themed() {
          color: t($color);
          background-color: t($bg-teriary);
        }
      }
    }
  }
}
